torch
torchaudio
scipy
numpy
librosa
pyword
joblib
g2p_en
unidecode
resemblyzer
matplotlib
umap-learn
s3prl
fairseq@git+https://github.com//pytorch/fairseq.git@f2146bdc7abf293186de9449bfa2272775e39e1d#egg=fairseq

